<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SlinkyMinkyData</key>
	<array>
		<dict>
			<key>MinkyID</key>
			<string>1</string>
			<key>MinkyName</key>
			<string>CosmicCadet.png</string>
			<key>MinkyImage</key>
			<string>ImageBlackCosmicCadet.png</string>
		</dict>
		<dict>
			<key>MinkyID</key>
			<string>2</string>
			<key>MinkyName</key>
			<string>DownDarling.png</string>
			<key>MinkyImage</key>
			<string>ImageBlackDownDarling.png</string>
		</dict>
		<dict>
			<key>MinkyID</key>
			<string>3</string>
			<key>MinkyName</key>
			<string>FullSignal.png</string>
			<key>MinkyImage</key>
			<string>ImageBlackFullSignal.png</string>
		</dict>
		<dict>
			<key>MinkyID</key>
			<string>4</string>
			<key>MinkyName</key>
			<string>Love.png</string>
			<key>MinkyImage</key>
			<string>ImageBlackLove.png</string>
		</dict>
		<dict>
			<key>MinkyID</key>
			<string>5</string>
			<key>MinkyName</key>
			<string>Momentz.png</string>
			<key>MinkyImage</key>
			<string>ImageBlackMomentz.png</string>
		</dict>
		<dict>
			<key>MinkyID</key>
			<string>6</string>
			<key>MinkyName</key>
			<string>TheHP.png</string>
			<key>MinkyImage</key>
			<string>ImageBlackTheHP.png</string>
		</dict>
		<dict>
			<key>MinkyID</key>
			<string>7</string>
			<key>MinkyName</key>
			<string>ThePlank.png</string>
			<key>MinkyImage</key>
			<string>ImageBlackThePlank.png</string>
		</dict>
		<dict>
			<key>MinkyID</key>
			<string>8</string>
			<key>MinkyName</key>
			<string>TriHard.png</string>
			<key>MinkyImage</key>
			<string>ImageBlackTriHard.png</string>
		</dict>
		<dict>
			<key>MinkyID</key>
			<string>9</string>
			<key>MinkyName</key>
			<string>CosmicCadet.png</string>
			<key>MinkyImage</key>
			<string>ImageBleachBlondeCosmicCadet.png</string>
		</dict>
		<dict>
			<key>MinkyID</key>
			<string>10</string>
			<key>MinkyName</key>
			<string>DownDarling.png</string>
			<key>MinkyImage</key>
			<string>ImageBleachBlondeDownDarling.png</string>
		</dict>
		<dict>
			<key>MinkyID</key>
			<string>11</string>
			<key>MinkyName</key>
			<string>FullSignal.png</string>
			<key>MinkyImage</key>
			<string>ImageBleachBlondeFullSignal.png</string>
		</dict>
		<dict>
			<key>MinkyID</key>
			<string>12</string>
			<key>MinkyName</key>
			<string>Love.png</string>
			<key>MinkyImage</key>
			<string>ImageBleachBlondeLove.png</string>
		</dict>
		<dict>
			<key>MinkyID</key>
			<string>13</string>
			<key>MinkyName</key>
			<string>Momentz.png</string>
			<key>MinkyImage</key>
			<string>ImageBleachBlondeMomentz.png</string>
		</dict>
		<dict>
			<key>MinkyID</key>
			<string>14</string>
			<key>MinkyName</key>
			<string>TheHP.png</string>
			<key>MinkyImage</key>
			<string>ImageBleachBlondeTheHP.png</string>
		</dict>
		<dict>
			<key>MinkyID</key>
			<string>15</string>
			<key>MinkyName</key>
			<string>ThePlank.png</string>
			<key>MinkyImage</key>
			<string>ImageBleachBlondeThePlank.png</string>
		</dict>
		<dict>
			<key>MinkyID</key>
			<string>16</string>
			<key>MinkyName</key>
			<string>TriHard.png</string>
			<key>MinkyImage</key>
			<string>ImageBleachBlondeTriHard.png</string>
		</dict>
		<dict>
			<key>MinkyID</key>
			<string>17</string>
			<key>MinkyName</key>
			<string>CosmicCadet.png</string>
			<key>MinkyImage</key>
			<string>ImageBlondeCosmicCadet.png</string>
		</dict>
		<dict>
			<key>MinkyID</key>
			<string>18</string>
			<key>MinkyName</key>
			<string>DownDarling.png</string>
			<key>MinkyImage</key>
			<string>ImageBlondeDownDarling.png</string>
		</dict>
		<dict>
			<key>MinkyID</key>
			<string>19</string>
			<key>MinkyName</key>
			<string>FullSignal.png</string>
			<key>MinkyImage</key>
			<string>ImageBlondeFullSignal.png</string>
		</dict>
		<dict>
			<key>MinkyID</key>
			<string>20</string>
			<key>MinkyName</key>
			<string>Love.png</string>
			<key>MinkyImage</key>
			<string>ImageBlondeLove.png</string>
		</dict>
		<dict>
			<key>MinkyID</key>
			<string>21</string>
			<key>MinkyName</key>
			<string>Momentz.png</string>
			<key>MinkyImage</key>
			<string>ImageBlondeMomentz.png</string>
		</dict>
		<dict>
			<key>MinkyID</key>
			<string>22</string>
			<key>MinkyName</key>
			<string>TheHP.png</string>
			<key>MinkyImage</key>
			<string>ImageBlondeTheHP.png</string>
		</dict>
		<dict>
			<key>MinkyID</key>
			<string>23</string>
			<key>MinkyName</key>
			<string>ThePlank.png</string>
			<key>MinkyImage</key>
			<string>ImageBlondeThePlank.png</string>
		</dict>
		<dict>
			<key>MinkyID</key>
			<string>24</string>
			<key>MinkyName</key>
			<string>TriHard.png</string>
			<key>MinkyImage</key>
			<string>ImageBlondeTriHard.png</string>
		</dict>
		<dict>
			<key>MinkyID</key>
			<string>25</string>
			<key>MinkyName</key>
			<string>CosmicCadet.png</string>
			<key>MinkyImage</key>
			<string>ImageBrownCosmicCadet.png</string>
		</dict>
		<dict>
			<key>MinkyID</key>
			<string>26</string>
			<key>MinkyName</key>
			<string>DownDarling.png</string>
			<key>MinkyImage</key>
			<string>ImageBrownDownDarling.png</string>
		</dict>
		<dict>
			<key>MinkyID</key>
			<string>27</string>
			<key>MinkyName</key>
			<string>FullSignal.png</string>
			<key>MinkyImage</key>
			<string>ImageBrownFullSignal.png</string>
		</dict>
		<dict>
			<key>MinkyID</key>
			<string>28</string>
			<key>MinkyName</key>
			<string>Love.png</string>
			<key>MinkyImage</key>
			<string>ImageBrownLove.png</string>
		</dict>
		<dict>
			<key>MinkyID</key>
			<string>29</string>
			<key>MinkyName</key>
			<string>Momentz.png</string>
			<key>MinkyImage</key>
			<string>ImageBrownMomentz.png</string>
		</dict>
		<dict>
			<key>MinkyID</key>
			<string>30</string>
			<key>MinkyName</key>
			<string>TheHP.png</string>
			<key>MinkyImage</key>
			<string>ImageBrownTheHP.png</string>
		</dict>
		<dict>
			<key>MinkyID</key>
			<string>31</string>
			<key>MinkyName</key>
			<string>ThePlank.png</string>
			<key>MinkyImage</key>
			<string>ImageBrownThePlank.png</string>
		</dict>
		<dict>
			<key>MinkyID</key>
			<string>32</string>
			<key>MinkyName</key>
			<string>TriHard.png</string>
			<key>MinkyImage</key>
			<string>ImageBrownTriHard.png</string>
		</dict>
		<dict>
			<key>MinkyID</key>
			<string>33</string>
			<key>MinkyName</key>
			<string>CosmicCadet.png</string>
			<key>MinkyImage</key>
			<string>ImageGingerCosmicCadet.png</string>
		</dict>
		<dict>
			<key>MinkyID</key>
			<string>34</string>
			<key>MinkyName</key>
			<string>DownDarling.png</string>
			<key>MinkyImage</key>
			<string>ImageGingerDownDarling.png</string>
		</dict>
		<dict>
			<key>MinkyID</key>
			<string>35</string>
			<key>MinkyName</key>
			<string>FullSignal.png</string>
			<key>MinkyImage</key>
			<string>ImageGingerFullSignal.png</string>
		</dict>
		<dict>
			<key>MinkyID</key>
			<string>36</string>
			<key>MinkyName</key>
			<string>Love.png</string>
			<key>MinkyImage</key>
			<string>ImageGingerLove.png</string>
		</dict>
		<dict>
			<key>MinkyID</key>
			<string>37</string>
			<key>MinkyName</key>
			<string>Momentz.png</string>
			<key>MinkyImage</key>
			<string>ImageGingerMomentz.png</string>
		</dict>
		<dict>
			<key>MinkyID</key>
			<string>38</string>
			<key>MinkyName</key>
			<string>TheHP.png</string>
			<key>MinkyImage</key>
			<string>ImageGingerTheHP.png</string>
		</dict>
		<dict>
			<key>MinkyID</key>
			<string>39</string>
			<key>MinkyName</key>
			<string>ThePlank.png</string>
			<key>MinkyImage</key>
			<string>ImageGingerThePlank.png</string>
		</dict>
		<dict>
			<key>MinkyID</key>
			<string>40</string>
			<key>MinkyName</key>
			<string>TriHard.png</string>
			<key>MinkyImage</key>
			<string>ImageGingerTriHard.png</string>
		</dict>
	</array>
</dict>
</plist>
